{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h3>Transaction History</h3>
    <p>All-time P&L: ${{'%.02f' % sum}}</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>  
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order Type</th>
            <th scope="col">Price</th>
            <th scope="col">Profit/Loss</th>
            <th scope="col">Broker</th>
          </tr>
        </thead>
    {% for transaction in transaction_list %}
        <tr>
            <td>{{transaction.date_created.strftime('%Y-%m-%d')}}</td>
            <td>{{transaction.stock}}</td>
            <td>${{'%.02f' % (transaction.quantity | int)}}</td>   
            <td>{{transaction.transtype.capitalize()}}</td>
            <td>${{'%.02f' % transaction.price | float}}</td>
            <td>${{'%.02f' % transaction.profitloss | float}}</td>
            <td>{{transaction.broker}}</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
